<footer>
            <div class="row">
                <!-- FOOTER HAMK Logo-->    
                <div class="col-lg-4 footer-logo">
                    <img src="assets/HAMK_logo_black.png" alt="HAMK Logo Black">
                </div>
                <div class="col-lg-8 footer">
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}<br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
</footer>

